<div class="flex flex-col md:flex-row h-screen w-full">

    <div class="w-2/12 fixed h-screen">
        <app-admin-navbar></app-admin-navbar>

    </div>

    <main class=" flex-1 ml-[16.666667%] p-6 w-10/12">
        <h1 class="text-4xl font-bold mb-8">Profile</h1>
        <div class="space-y-6 w-4/12">

            <div>
                <label class="block text-sm font-medium text-gray-700">Name</label>
                <input id="numPpl" type="text" [(ngModel)]="name" class="w-full p-2 border border-gray-300 rounded-lg"
                    placeholder={{name}}>
            </div>


            <div>
                <label class="block text-sm font-medium text-gray-700">Username</label>
                <input id="numPpl" type="text" [(ngModel)]="username"
                    class="w-full p-2 border border-gray-300 rounded-lg" placeholder={{username}}>
            </div>


            <div>
                <label class="block text-sm font-medium text-gray-700">Email Id</label>
                <input id="numPpl" type="email" [(ngModel)]="email" class="w-full p-2 border border-gray-300 rounded-lg"
                    placeholder={{email}}>
            </div>

            <div *ngIf="isOrganizer">
                <label class="block text-sm font-medium text-gray-700">Organization Name</label>
                <input id="name" type="name" [(ngModel)]="organization.username"
                    class="w-full p-2 border border-gray-300 rounded-lg" placeholder={{organization.username}}>
            </div>

        </div>

        <div *ngIf="!isOrganizer">
            <button class="mt-6 mr-4 bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800"
                (click)="openOrgModal()">
                Create Organization
            </button>

        </div>

        <button class="mt-6 mr-4 bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800">
            Forgot Password
        </button>

        <button class="mt-6 bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800">
            Save Changes
        </button>

    </main>

</div>

<div *ngIf="isModalOpen" (click)="closeModal()"
    class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96" (click)="$event.stopPropagation()">
        <h2 class="text-2xl font-bold mb-4">Enter Organization Name</h2>

        <label for="name" class="block text-sm text-gray-600">
            Organization Name
        </label>
        <input id="name" [(ngModel)]="organization.username" class="w-full p-2 border border-gray-300 rounded-lg mb-4"
            placeholder="Enter title">

        <div class="flex justify-end">
            <button class="bg-orange-500 text-white px-6 py-3 rounded-lg hover:bg-orange-600"
                (click)="createOrganization()">
                Create Organization
            </button>
        </div>

        <button (click)="closeModal()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-900">
            <span class="material-icons">close</span>
        </button>

    </div>
</div>