<div class="flex flex-col md:flex-row">
    <div class="md:w-1/12 p-4">
        <button class="bg-orange-500 text-white px-4 py-2 rounded-lg hover:bg-orange-600" (click)="gotoHome()">
            ← Back
        </button>
    </div>

    <!-- Event Details -->
    <main class="flex-1 p-6">
        <h1 class="text-3xl font-bold mb-6">Event Details</h1>

        <div class="bg-white p-6 rounded-lg shadow-lg">
            <!-- Event Header -->
            <div class="flex justify-between items-start mb-6">
                <div>
                    <h2 class="text-2xl font-bold">{{ event.title }}</h2>
                    <p class="text-sm text-gray-600">{{ event.location }} | {{ event.type }}</p>

                </div>
                <div class="text-lg font-semibold text-orange-500">
                    ${{ event.ticketPrice }}
                    <div class="bg-orange-500 text-white rounded-md">
                        <button 
                            class="w-full flex items-center p-2 rounded-lg" (click)="notify()">
                            <span class="material-icons mr-1">notifications</span>
                            Notify Me
                        </button>
                    </div>
                </div>
            </div>

            <!-- Event Details Section -->
            <div class="border-t border-b py-6">
                <h3 class="text-xl font-semibold mb-2">General</h3>
                <p class="text-sm text-gray-600 mb-4">
                    <strong>Description:</strong> {{ event.description }}
                </p>
                <p class="text-sm text-gray-600 mb-4">
                    <strong>Location:</strong> {{ event.location }}
                </p>
                <p class="text-sm text-gray-600">
                    <strong>Dates-Time:</strong> {{ event.date | date: 'dd MMM, yyyy' }} | {{ event.date | date:
                    'shortTime' }}
                </p>
            </div>

            <div class="border-t border-b py-6">
                <h3 class="text-xl font-semibold mb-2">Includes</h3>
                <ul class="list-inside list-disc">
                    <li class="text-sm text-gray-600">Seats Available: {{ event.availableSeats }} / {{ event.totalSeats
                        }}</li>
                    <li class="text-sm text-gray-600">Ticket Price: ${{ event.ticketPrice }}</li>
                    <li class="text-sm text-gray-600">Type: {{ event.type }}</li>
                </ul>
            </div>

            <div class="border-t border-b py-6">
                <div class="p-6">
                    <h1 class="text-3xl font-bold mb-6">Seat Selection</h1>
                    <h3 class="text-center">Stage this way</h3><br>
                    <div class="grid grid-cols-10 gap-2">
                        <ng-container *ngFor="let row of seats">
                            <ng-container *ngFor="let seat of row">
                                <div class="p-3 border rounded text-center font-medium cursor-pointer transition"
                                    [ngClass]="{
                                'bg-red-500 text-white': bookedSeats.includes(seat),
                                'bg-green-500 text-white': selectedSeats.includes(seat),
                                'hover:bg-blue-200': !bookedSeats.includes(seat)
                              }" (click)="toggleSeatSelection(seat)">
                                    {{ seat }}
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>

                <!-- Action Button -->
                <div class="mt-6 w-full flex justify-end">
                    <button class="bg-orange-500 text-white px-6 py-3 rounded-lg hover:bg-orange-600"
                        (click)="openBookingModal()">
                        Book This Event
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>

<div *ngIf="isModalOpen" (click)="closeModal()"
    class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96" (click)="$event.stopPropagation()">
        <h2 class="text-2xl font-bold mb-4">Enter Booking Details</h2>

        <label for="name" class="block text-sm text-gray-600">Booking Name</label>
        <input id="name" [(ngModel)]="bookingName" class="w-full p-2 border border-gray-300 rounded-lg mb-4"
            placeholder="Enter name">

        <label for="numPpl" class="block text-sm text-gray-600">No. of People</label>
        <input id="numPpl" type="number" [(ngModel)]="numPpl" class="w-full p-2 border border-gray-300 rounded-lg mb-4"
            placeholder="Enter number of People">

        <label for="seat" class="block text-sm text-gray-600">Selected Seats</label>
        <input id="numPpl" type="text" [(ngModel)]="selectedSeat"
            class="w-full p-2 border border-gray-300 rounded-lg mb-4" placeholder="Selected Seats:">

        <div class="flex justify-end">
            <button class="bg-orange-500 text-white px-6 py-3 rounded-lg hover:bg-orange-600"
                (click)="confirmBooking()">
                Confirm Booking
            </button>
        </div>

        <button (click)="closeModal()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-900">
            <span class="material-icons">close</span>
        </button>
    </div>
</div>